:root{
    --primary-color:#EE4D2D;
    /* --primary-color-rgba:rgb(238, 77, 45); */
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --blue-color:#009eff;
    --border-color:#dbdbdb;

    --navbar-height:34px;
    --header-height:120px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}
.color-black{
    color: var(--black-color);
}
.navigation i {
    font-size: 10px;
}

.header .navigation li {
    list-style: none;
}
.header .navigation a{
    text-decoration: none;
    color: black;
    padding: 10px 0;
}

  .modal__body{
    --growth-from:0.7;
    --growth-to:1;
    /* background-color:var(--white-color); */
    margin: auto;/*căn giữa = display;flex*/
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
    /* border-radius: 5px; */
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    form{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    /* background-color:var(--white-color); */
    margin: auto;/*căn giữa = display;flex*/
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
    /* border-radius: 5px; */
}




/* Hover gach chan */
li .line-Under {
    width: 0;
    height: 2px;
    background-color: #000;
    
    transition: all .2s ease-in;
  }

  li:hover .line-Under{
    width: 100%;
  }